/* Swatch */
:root {
  --KingInk: #231F20;
  --K-Ink-XI: #3E3E3F;
  --K-Ink-VIII: #565759;
  --K-Ink-VII: #6B6C6F;
  --K-Ink-VI: #7E8083;
  --K-Ink-V: #919396;
  --K-Ink-IV: #A5A7AA;
  --K-Ink-III: #BABCBE;
  --K-Ink-II: #CFD1D2;
  --K-Ink-I: #E4E5E6;
  --KingBlank: #FBFBFB;
  --theme-colour: var(--KingInk);
}

/* Typographic Style */
:root {
  font-family: Montserrat, sans-serif;
  color: var(--theme-colour);
  --hx-line-height: 1.75;
  --inline-height: 1.25;
}

* {
  margin: unset;
}

/* unvisited link */
a:link {
  color: var(--K-Ink-VIII);
}

/* visited link */
a:visited {
  color: var(--K-Ink-V);
}

/* mouse over link */
a:hover {
  color: var(--theme-colour);
}

/* selected link */
a:active {
  color: var(--K-Ink-IV);
}

/* 📱 */
@media all and (max-width: 791px) {
  * {
    font-size: 15px;
  }
}

/* 🖥 */
@media all and (min-width: 792px) {
  * {
    font-size: 19.41640786px;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: var(--hx-line-height);
  margin-block-start: unset;
  margin-block-end: unset;
  margin-inline-start: unset;
  margin-inline-end: unset;
  font-weight: unset;
}

p, span {
  line-height: var(--inline-height);
}

/* 📱 */
@media all and (max-width: 791px) {
  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.5em;
  }

  h4 {
    font-size: 1em;
  }

  h5 {
    font-size: 0.875em;
  }

  h6 {
    font-size: 0.75em;
  }

  p {
    font-size: 1em;
  }

  p.small {
    font-size: 0.875em;
  }

  span {
    font-size: 1em;
  }

  span.small {
    font-size: 0.875em;
  }
}

/* 🖥 */
@media all and (min-width: 792px) {
  h1 {
    font-size: 4.236067977em;
  }

  h2 {
    font-size: 2.618033989em;
  }

  h3 {
    font-size: 1.618033989em;
  }

  h4 {
    font-size: 1em;
  }

  h5 {
    font-size: 0.6180339887em;
  }

  h6 {
    font-size: 0.509288015em;
  }

  p {
    font-size: 1em;
  }

  p.small {
    font-size: 0.6180339887em;
  }

  span {
    font-size: 1em;
  }

  span.small {
    font-size: 0.6180339887em;
  }
}

/* 📱 */
@media all and (max-width: 479px) {}

/* 📱+ */
@media all and (min-width: 480px) and (max-width: 791px) {}

/* 🖥 */
@media all and (min-width: 792px) {}
