/* nav-LLL */
/* NN type selector */
/* #LLL_L_012345678 */
#LLL_L_04 {
  background: #ffffff;
  border-radius: 72px;
  filter: invert(1) drop-shadow(2px 2px 4px #00000080);
}

/* TB type selector */
#LLL_PG {
  display: none;
}

h3 {
  padding-block-end: 12px;
  border-block-end: inset black 1px;
  color: var(--theme-colour);
}

h4, h5, h6 {
  font-size: 2em;
  padding-block-start: 2em;
  color: var(--KingInk);
  overflow-wrap: break-word;
}

h5, h5+p, #h5 {
  padding-left: 18px;
  border-left: inset 1px var(--theme-colour);
}

h6, h6+p, #h6 {
  margin-left: 18px;
  padding-left: 18px;
  border-left: inset 1px var(--theme-colour);
}

h6 {
  padding-top: 72px;
}

p {
  padding-block-start: 0.25em;
  padding-block-end: 1em;
  hyphens: auto;
}

.firstletter {
  font-size: 3em;
  color: var(--theme-colour);
  float: left;
  width: 1em;
  line-height: 0.875em;
}

.PJ figure {
  margin: unset;
}

.image-wrapper {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
}

.image-wrapper .image-row {
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-basis: 240px;
}

.image-wrapper img {
  width: calc(100% / 3);
  height: auto;
  display: block;
}

@media all and (min-width: 480px) {
  figure img {
    width: 75%;
    margin: 0 auto;
    display: block;
  }
}

figcaption {
  font-size: 1em;
  font-weight: 500;
  color: var(--theme-colour);
  padding-block-end: 36px;
  padding: 9px;
}

@media all and (min-width: 480px) {
  #img50 {
    width: calc(100% / 3);
    margin: 0 auto;
    display: block;
  }
}
