.FW-FB {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 1;
}

.FW-FB>div {
  flex-grow: 1;
  flex-basis: 360px;
}

.B-600>div {
  flex-grow: 1;
  flex-basis: 600px;
}

.FB-Text-Container {
  padding: 3em 1em 3em 3em;
  box-sizing: border-box;
}

.FB-Media-Container {
  position: relative;
}

.FB-Media-Container img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.FB-Media-Container iframe {
  width: 100%;
  height: 100%;
  min-height: 300px;
}

.FB-Media-Remark {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 0.75em;
  padding: 6px 9px;
}
