* {
  margin: unset;
}

body {
  margin: 0;
  width: 100%;
}

hr {
  unicode-bidi: unset;
  margin-block-start: 18px;
  margin-block-end: 18px;
  margin-inline-start: unset;
  margin-inline-end: unset;
  margin: 0;
  overflow: hidden;
  border-style: outset;
  border-width: 1px;
}

.glrm {
  margin: 0 36px;
}

.gtbm {
  margin-top: 36px;
  margin-bottom: 36px;
}

.dn {
  display: none;
}

.vh {
  visibility: hidden;
}

.PJ figure {
  margin: 36px 0;
}

img {
  width: 100%;
}

header img {
  width: unset;
}

div.row3 {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 6px;
}

div.row3 figure {
  width: 33.3333333333%;
  margin: unset;
}

div.row2 {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 36px;
}

div.row2 figure {
  width: 50%;
  margin: unset;
}
